.profile__image-container {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 29px 0 0;
}

.profile__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.profile__image-overlay {
  visibility: hidden;
  background: transparent url('../../../images/edit-avatar-icon.svg') center no-repeat;
  position: absolute;
  inset: 0;
}

.profile__image-container:hover .profile__image-overlay {
  visibility: visible;
}

.profile__image-container:hover .profile__image {
  opacity: 0.2;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}
